# MacOS
.DS_Store

# IntelliJ
*.iml
.idea/*
!.idea/codeStyles/
!.idea/runConfigurations/

# Gradle
.gradle/

# Build
build/
out/

# resources
application/src/test/resources/tracks/
application/src/test/resources/copies/*
application/src/test/resources/test.db
!application/src/test/resources/samples
!application/src/test/resources/copies/.gitkeep

# env
.env
