# MacOS
.DS_Store

# IntelliJ
*.iml
.idea/*
!.idea/codeStyles/
!.idea/runConfigurations/

# Gradle
.gradle/

# Build
build/
out/

# resources
src/test/resources/120bpmkick_60-140Hz.wav
src/test/resources/testTrack.wav
