# MacOS
.DS_Store

# IntelliJ
*.iml
.idea/*
!.idea/codeStyles/
!.idea/runConfigurations/

# Gradle
.gradle/

# Build
build/
out/

# WAVs Resources
src/test/resources/sinus.wav
src/test/resources/440.wav